@model List<AskNLearn.Models.Entity.AdminDashboardModel>
@{
    ViewBag.Title = "UserRequest";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<br>
<br>
<br>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="white-box" id="wrapper">


            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">Moderator Approval</h3>


                        <div class="table-responsive">
                            <table class="table">
                                <thead>

                                    <tr>
                                        <th>SL</th>
                                        <th>UID</th>
                                        <th>Name </th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Edu Info</th>
                                        <th>Curr Position</th>
                                        <th>UserType</th>
                                        <th>Reputation</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        foreach (var user in Model)
                                        {
                                            System.TimeSpan diff = DateTime.Now.Date.Subtract(user.dob);
                                            int difference = (int)diff.Days;
                                            difference = difference / 365;
                                          
                                           
                                            if (user.userType.Equals("Moderator"))
                                            {
                                                <tr style="color: #096d9a; font-weight: 500">
                                                    <td>@(++i)</td>
                                                    <td>@user.uid</td>
                                                    <td>@user.name</td>
                                                    <td>@user.username</td>
                                                    <td>@user.email</td>
                                                    <td>@difference</td>
                                                    <td>@user.gender</td>
                                                    <td>@user.eduInfo</td>
                                                    <td>@user.currentPosition</td>
                                                    <td>@user.userType</td>
                                                    <td>@user.reputation</td>
                                                    <td>@user.approval</td>
                                                    <td>
                                                        <a href="@Url.Action("Approved",new { @user.uid})" class="btn btn-danger" style="background-color:forestgreen;color:white;border-radius:6px">Approve</a>

                                                    @*    <a href="@Url.Action("DeleteUser",new { @user.uid})" class="btn btn-danger" style="background-color:red;color:white;border-radius:6px">Delete</a>*@

                                                        <a href="@Url.Action("Rejected",new { @user.uid})" class="btn btn-danger" style="background-color:red;color:white;border-radius:6px">Reject</a>

                                                    </td>
                                                </tr>
                                            }
                                         

                                        }
                                    }
                                </tbody>



                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










