@model List<AskNLearn.Models.Entity.AdminDashboardModel>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

    <br>
    <br>
    <br>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="white-box" id="wrapper">


                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Basic Table</h3>

                            <select id="filtering">
                                <option disabled>Filter User List</option>
                                <option value="moderator">Moderators</option>
                                <option value="admin">Admin</option>
                                <option value="instructor">Instructors</option>
                                <option value="learner">Learners</option>
                            </select>
                            <script type="text/javascript">

                                function update() {
                                    var select = document.getElementById('filtering');
                                    var Getvalue = select.options[select.selectedIndex].value;

                                    //console.log(select);
                                    console.log(Getvalue);
                                }

                               update();
                            </script>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                        <tr>
                                            <th>SL</th>
                                            <th>Name </th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Edu Info</th>
                                            <th>Curr Position</th>
                                            <th>UserType</th>
                                            <th>Reputation</th>
                                            <th>Approval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;
                                            foreach (var user in Model)
                                            {
                                                System.TimeSpan diff = DateTime.Now.Date.Subtract(user.dob);
                                                int difference = (int)diff.Days;
                                                difference = difference / 365;
                                                if (user.userType.Equals("Admin"))
                                                {
                                                    <tr style="color:red;font-weight:500">
                                                        <td>@(++i)</td>
                                                        <td>@user.name</td>
                                                        <td>@user.username</td>
                                                        <td>@user.email</td>
                                                        <td>@difference</td>
                                                        <td>@user.gender</td>
                                                        <td>@user.eduInfo</td>
                                                        <td>@user.currentPosition</td>
                                                        <td>@user.userType</td>
                                                        <td>@user.reputation</td>
                                                        <td>@user.approval</td>
                                                    </tr>
                                                }
                                                else if (user.userType.Equals("Instructor"))
                                                {
                                                    <tr style="color: indigo; font-weight: 500">
                                                        <td>@(++i)</td>
                                                        <td>@user.name</td>
                                                        <td>@user.username</td>
                                                        <td>@user.email</td>
                                                        <td>@difference</td>
                                                        <td>@user.gender</td>
                                                        <td>@user.eduInfo</td>
                                                        <td>@user.currentPosition</td>
                                                        <td>@user.userType</td>
                                                        <td>@user.reputation</td>
                                                        <td>@user.approval</td>
                                                    </tr>
                                                }
                                                else if (user.userType.Equals("Moderator"))
                                                {
                                                    <tr style="color: #096d9a; font-weight: 500">
                                                        <td>@(++i)</td>
                                                        <td>@user.name</td>
                                                        <td>@user.username</td>
                                                        <td>@user.email</td>
                                                        <td>@difference</td>
                                                        <td>@user.gender</td>
                                                        <td>@user.eduInfo</td>
                                                        <td>@user.currentPosition</td>
                                                        <td>@user.userType</td>
                                                        <td>@user.reputation</td>
                                                        <td>@user.approval</td>
                                                    </tr>
                                                }
                                                else if (user.userType.Equals("Learner"))
                                                {
                                                    <tr style="color:#3d9d51; font-weight: 500">
                                                        <td>@(++i)</td>
                                                        <td>@user.name</td>
                                                        <td>@user.username</td>
                                                        <td>@user.email</td>
                                                        <td>@difference</td>
                                                        <td>@user.gender</td>
                                                        <td>@user.eduInfo</td>
                                                        <td>@user.currentPosition</td>
                                                        <td>@user.userType</td>
                                                        <td>@user.reputation</td>
                                                        <td>@user.approval</td>
                                                    </tr>
                                                }

                                            }
                                        }
                                    </tbody>



                                </table>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










