
@{
    ViewBag.Title = "CourseView";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}
@{
    int i = 0;
    int coid=0;
    int uid=0;
    string title="";
    string details="";
    double price=0;
    int upVote=0;
    int downVote=0;
    string dateTime="";
    foreach (var item in Model)
    {
        coid = item.coid;
        uid = item.uid;
        title = item.title;
        details = item.details;
        price = item.price;
        upVote = item.upVote;
        downVote = item.downVote;
        dateTime = item.dateTime.ToString();
    }
    var quizes = ViewBag.Quizes;
}
<h2>CourseView</h2>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <h1>@title</h1>
            @if (price.Equals(0))
            {<p style="float: left; font-size: 16px; color: green;">Free!</p>}
            @if (price > 0)
            {<p style="float: left; font-size: 17px; color: darkorange;">Price: @price ৳</p>}

            <p style="float: right; font-size:18px;">&nbsp;&nbsp;Last Update: @dateTime</p>&nbsp;

            @if (downVote.Equals(0))
            {<b><a style="float: right; font-size:22px; color:lightgray;" href="/Instructor/CourseDownvote/@coid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/000000/down.png" />@downVote</a></b>}

            @if (downVote > 0)
            {<b><a style="float: right; font-size:22px; color:red;" href="/Instructor/CourseDownvote/@coid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/fa314a/down.png" />@downVote</a></b>}

            @if (upVote.Equals(0))
            {<a style="float: right; font-size: 22px; color: gray;" href="/Instructor/CourseUpvote/@coid"><img src="https://img.icons8.com/dotty/25/000000/up.png" />@upVote</a>}

            @if (upVote > 0)
            {<b><a style="float: right; font-size:22px;" href="/Instructor/CourseUpvote/@coid"><img src="https://img.icons8.com/fluency/22/000000/up.png" />@upVote</a></b>}

            <br /><br />
            <h3>@details</h3>
            <br /><br />
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">
                        <h2 style="color:red">Videos</h2>
                        <div style="height: 600px; overflow: auto; ">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.videoLink!= null)
                                    {
                                        i++;
                                        <h4>@i. @item.videoTitle</h4>
                                        <iframe style="object-fit: cover" width="650" height="365" src="@item.videoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                    }
                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Video Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color:green">Images</h2>
                        <div style="height: 600px; overflow: auto; ">


                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.image!=null)
                                    {
                                        i++;
                                        <h4>@i. @item.imageTitle</h4>
                                        <img style="max-height: 500px; object-fit: cover" src="~/@item.image" width="600" /> <br /><br />
                                    }
                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Document Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color:goldenrod">Documents</h2>
                        <p style="color:darkcyan">Click To Open</p>
                        <div style="height: 300px; overflow: auto; ">


                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.docs!=null)
                                    {
                                        i++;
                                        <b><a style="font-size:20px" href="/Instructor/PdfPreview/?doc=@item.docs">@i. @item.docTitle</a></b><br /><br />
                                    }

                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Document Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <p style="float:right; color: saddlebrown">*Use the same email that you used for signup</p>
                        <h2 style="color: orangered">Quizes</h2>
                        <p style="color: darkcyan">Click To Open</p>
                        <div style="height: 300px; overflow: auto; ">


                            @if (quizes != null)
                            {
                                foreach (var item in quizes)
                                {
                                    if (item.questionLink != null)
                                    {
                                        i++;

                                        <p style="float:right">Total Marks @item.totalMarks</p>
                                        <b><a style="font-size:20px" href="@item.questionLink">@i. @item.quizTitle</a></b><br /><hr />
                                    }
                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Quizes Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>