
@{
    ViewBag.Title = "CourseEnrolment";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}

@{
    int i = 0;
    int coid = 0;
    int uid = 0;
    string title = "";
    string details = "";
    double price = 0;
    int upVote = 0;
    int downVote = 0;
    string dateTime = "";

        coid = Model.coid;
        uid = Model.uid;
        title = Model.title;
        details = Model.details;
        price = Model.price;
        upVote = Model.upVote;
        downVote = Model.downVote;
        dateTime = Model.dateTime.ToString();
}
<h2>Course Enrolment</h2>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <h1>@title</h1>
            @if (price.Equals(0))
            {<p style="float: left; font-size: 16px; color: green;">Free!</p>}
            @if (price > 0)
            {<p style="float: left; font-size: 17px; color: darkorange;">Price: @price ৳</p>}

            <p style="float: right; font-size:18px;">&nbsp;&nbsp;Last Update: @dateTime</p>&nbsp;

            @if (downVote.Equals(0))
            {<b><a style="float: right; font-size:22px; color:lightgray;" href="/Instructor/CourseDownvote/@coid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/000000/down.png" />@downVote</a></b>}

            @if (downVote > 0)
            {<b><a style="float: right; font-size:22px; color:red;" href="/Instructor/CourseDownvote/@coid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/fa314a/down.png" />@downVote</a></b>}

            @if (upVote.Equals(0))
            {<a style="float: right; font-size: 22px; color: gray;" href="/Instructor/CourseUpvote/@coid"><img src="https://img.icons8.com/dotty/25/000000/up.png" />@upVote</a>}

            @if (upVote > 0)
            {<b><a style="float: right; font-size:22px;" href="/Instructor/CourseUpvote/@coid"><img src="https://img.icons8.com/fluency/22/000000/up.png" />@upVote</a></b>}
            <br /><br />
            <div style="display: flex; gap: 20px; flex-direction: column-reverse; margin-bottom: 40px;">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <form action="/Instructor/CourseEnrolment" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="coid" value="@coid"/>
                        <input class="btn btn-info btn-lg" style="background-color:orange; font-size:22px;" type="submit" value="Enroll Now!" />
                    </form>
</div>
                <div style="flex: 1; text-align: justify">
                    <h3>@details</h3>
                </div>
            </div>
            <br /><br />
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">
                        <h2 style="color:red">Videos</h2>
                        <div style="height: 100px; overflow: auto; ">
                            <p style="color:peru">You Must Enroll First To View Course Videos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color:green">Images</h2>
                        <div style="height: 100px; overflow: auto; ">

                            <p style="color:peru">You Must Enroll First To View Images</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color:goldenrod">Documents</h2>
                        <div style="height: 100px; overflow: auto; ">
                            <p style="color:peru">You Must Enroll First To View Documents</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color:goldenrod">Quizes</h2>
                        <div style="height: 100px; overflow: auto; ">
                            <p style="color:peru">You Must Enroll First Attend Any Quizes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>