
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}
@{ 
    int i = 0;
    int totalLearners = Model.LernerCount;
    int PostedCourseCount = Model.PostedCourseCount;
    var posts = ViewBag.Posts;
}
<br /><br />
<input type="text" name="name" value=@*@Model.name*@ style="color:red">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard Page</h4>
                    <center><label style="font-size: 13px" class="text-danger">@ViewBag.Message</label></center>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                @*col*@
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i data-icon="e"
                                   class="linea-icon linea-basic"></i>
                                <h5 class="text-muted vb">Offered Courses By You</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-danger">@PostedCourseCount</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger " role="progressbar"
                                         aria-valuenow=0 aria-valuemin="0" aria-valuemax=100 style="width:@(PostedCourseCount+"%")">
                                        <span class="sr-only">@PostedCourseCount% complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i class="linea-icon linea-basic"
                                   data-icon="&#xe01b;"></i>
                                <h5 class="text-muted vb">Enrolled Learners</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-megna">@Model.EnrolledLearners</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-megna" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@(Model.EnrolledLearners+"%")">
                                        <span class="sr-only">@Model.EnrolledLearners% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <!--col -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i class="linea-icon linea-basic"
                                   data-icon="&#xe00b;"></i>
                                <h5 class="text-muted vb">Total Learners</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-primary">@totalLearners</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar"
                                         aria-valuenow="30" aria-valuemin="30" aria-valuemax="100" style="width:@(totalLearners+"%")">
                                        <span class="sr-only">10% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <div style="height: 400px; overflow: auto; ">
                            <h3>Recent Posts</h3>
                            @for (i = 0; i < 2; i++)
                            {
                        <div class="container-fluid" style="color:gray; background-color:lightcyan; ">
                                @if (posts[i].downVote.Equals(0))
                                {<b><a style="float: right; font-size:22px; color:lightgray;" href="/Instructor/CourseDownvote/@posts[i].pid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/000000/down.png" />@posts[i].downVote</a></b>}

                                @if (posts[i].downVote > 0)
                                {<b><a style="float: right; font-size:22px; color:red;" href="/Instructor/CourseDownvote/@posts[i].pid">&nbsp;<img src="https://img.icons8.com/glyph-neue/22/fa314a/down.png" />@posts[i].downVote</a></b>}

                                @if (posts[i].upVote.Equals(0))
                                {<a style="float: right; font-size: 22px; color: gray;" href="/Instructor/CourseUpvote/@posts[i].pid"><img src="https://img.icons8.com/dotty/25/000000/up.png" />@posts[i].upVote</a>}

                                @if (posts[i].upVote > 0)
                                {<b><a style="float: right; font-size:22px;" href="/Instructor/CourseUpvote/@posts[i].pid"><img src="https://img.icons8.com/fluency/22/000000/up.png" />@posts[i].upVote</a></b>}
                                <h4 style="color:darkorange">@posts[i].title</h4>
                                <a class="btn btn-light" style="float:right; position:relative;" href="/Instructor/Comment/@posts[i].pid"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-comment-chat-flatart-icons-solid-flatarticons-2.png" />Reply</a>
                                <p style="text-align:justify; overflow:auto;">@posts[i].details</p>
                        </div>
                        <br />
                            }
                            <a class="btn btn-danger" style="background-color:darkred; float:right;" href="/Instructor/PostList">Show All Posts</a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        gg
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center">
                2022 &copy; Ask And Learn
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Theme/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Theme/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Theme/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Theme/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Theme/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/Theme/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Theme/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Theme/js/custom.min.js"></script>
    <script src="~/Theme/js/dashboard1.js"></script>
    <script src="~/Theme/plugins/bower_components/toast-master/js/jquery.toast.js"></script>