@*@model AskNLearn.Models.User*@
@model AskNLearn.Models.Instructor.InstructorProfile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
    string msg = "checked";
}
<br />
<br />
<br />


<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Profile page</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">Profile page</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- .row -->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="white-box">
                        <div class="user-bg">
                            @*<img width="100%" alt="user" src="../../Theme/plugins/images/large/img1.jpg">*@
                            <div class="overlay-box">
                                <div class="">
                                    <img src="../../@Model.proPic" class="img-circle" alt-image="~/Content/Instructor/ProPic/noPropic.jpg" width="250" height="240">
                                </div>
                            </div>
                        </div>
                        <div class="user-btm-box">
                            <div class="col-md-12 col-sm-4">
                                <form action="/Instructor/UpdateProPic" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="uid" value="@Model.uid">
                                    <input type="file" name="ImageFile" accept=".png,.jpg,.jpeg,.gif,.tif" />
                                    <input class="btn btn-sm btn-info" style="background-color:#3a9fcf" type="submit" value="Update Profile Picture" />
                                </form>
                    </div>
                    <div class="col-md-8 col-sm-4">
                        <h2>Reputation: @Model.reputation</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-xs-12">
            <div class="white-box">
                <form class="form-horizontal form-material" action="/Instructor/Profile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-12">Full Name</label>
                        <div class="col-md-12">
                            <input type="hidden" name="uid" value="@Model.uid">
                            <input type="text" class="form-control" name="name" placeholder="Full Name" value="@Model.name">
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-12">Username</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="username" placeholder="Full Name" value=@Model.username>
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" value=@Model.email class="form-control form-control-line" name="email" id="example-email">
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Password</label>
                        <div class="col-md-12">
                            <span>
                                <input type="password" name="password" id="showPass" value=@Model.password class="form-control form-control-line">
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </span>

                        </div>


                    </div>


                    @{ System.TimeSpan diff = DateTime.Now.Date.Subtract(Model.dob);
                        int age = (int)diff.Days;
                        age = age / 365;

                    }
                    <div class="form-group">
                        <label class="col-md-12">Age</label>
                        <div class="col-md-12">
                            @age
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12">DOB</label>
                        <div class="col-md-4">
                            <input type="date" name="dob" value="@Model.dob.ToString("yyyy-MM-dd")"
                                   class="form-control form-control-line">
                            @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Gender</label>
                        <div class="col-md-12">
                            <input type="radio" class="form-check-input" id="Male" name="gender" value="Male" @if (@Model.gender == "Male") { @msg } />

                            <label for="Male">Male</label>&nbsp &nbsp
                            <input type="radio" class="form-check-input" id="Female" name="gender" value="Female" @if (@Model.gender == "Female") { @msg } />
                            <label for="Female">Female</label>&nbsp &nbsp
                            <input type="radio" class="form-check-input" id="Other" name="gender" value="Other" @if (@Model.gender == "Other") { @msg } />
                            <label for="Other">Other</label> &nbsp;<br />
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eduInfo" class="col-md-12">Education Information</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="eduInfo" id="eduInfo" value="@Model.eduInfo">
                            @Html.ValidationMessageFor(model => model.eduInfo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="currentPosition" class="col-md-12">Current Position</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" name="currentPosition" id="currentPosition" value="@Model.currentPosition">
                            @Html.ValidationMessageFor(model => model.currentPosition, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn btn-success" style="background-color: #3a9fcf">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">
            2022 &copy; Ask And Learn
        </footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="../../Theme/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../Theme/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="../../Theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="../../Theme/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="../../Theme/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../Theme/js/custom.min.js"></script>


