@model AskNLearn.Models.Instructor.DocumentsModel
@{
    ViewBag.Title = "UpdateCourse";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}
@{
    int i = 0;
    int coid = 0;
    int uid = 0;
    string title = "";
    string details = "";
    double price = 0;
    int upVote = 0;
    int downVote = 0;
    string dateTime = "";
    string thumbnail = "";
    var dataL = ViewBag.CourseDoc;
    var data = ViewBag.Course;
    if (dataL != null)
    {
        foreach (var item in dataL)
        {
            coid = item.coid;
            uid = item.uid;
            title = item.title;
            details = item.details;
            price = item.price;
            upVote = item.upVote;
            downVote = item.downVote;
            dateTime = item.dateTime.ToString();
            thumbnail = item.thumbnail;
        }
    }
    else if (data != null)
    {

        coid = data.coid;
        uid = data.uid;
        title = data.title;
        details = data.details;
        price = data.price;
        upVote = data.upVote;
        downVote = data.downVote;
        dateTime = data.dateTime.ToString();
        thumbnail = data.thumbnail;
    }
}

<br />
<br />
<br />
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-md-6 col-xs-12">
                <div class="white-box">
                    <div class="form-horizontal form-material">
                        <p style="float: right; font-size:12px;">&nbsp;&nbsp;Last Update: @dateTime</p>&nbsp;
                        <div class="form-group">
                            <label class="col-md-12">Title</label>
                            <div class="col-md-12">
                                <h4>@title</h4>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12">Details</label>
                            <div class="col-md-12">
                                <p>@details</p>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="price" class="col-md-12">Price (৳)</label>
                            <div class="col-md-12">
                                @if (@price == 0)
                                {
                                    <p style="color:green">Free</p>
                                }
                                else
                                {
                                    <p style="color:orange">@price</p>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Thumbnail For Your Course</label>
                            <label class="col-md-12" style="color:lightseagreen; font-size:9px">This image will be in preview for your course along with title and some details.</label>
                            <div class="col-md-12">
                                <div class="overlay-box">
                                    <div class="">
                                        <img style="max-height: 500px; object-fit: cover;" src="~/@thumbnail" width="350">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="white-box">
                    <form class="form-horizontal form-material" action="/Instructor/UpdateCourse" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="coid" value="@coid" />
                        <div class="form-group">
                            <label for="videoTitle" class="col-md-12">Video Title</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="videoTitle" id="videoTitle" placeholder="This Will Be The Title Of Your Video" value="">
                                @Html.ValidationMessageFor(model => model.videoTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="videoLink" class="col-md-12">Video Link</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="videoLink" id="videoLink" placeholder="Paste Your Youtube Video Link" value="">
                                @Html.ValidationMessageFor(model => model.videoLink, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="imageTitle" class="col-md-12">Image Title</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="imageTitle" id="imageTitle" placeholder="This Will Be The Title Of Your Image" value="">
                                @Html.ValidationMessageFor(model => model.imageTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ImageFile" class="col-md-12">Course Related Image</label>
                            <div class="col-md-12">
                                <input type="file" class="form-control" name="ImageFile" id="ImageFile" accept=".png,.jpg,.jpeg,.gif,.tif">
                                <label style="color:mediumorchid; font-size:10px">*Only .png .jpg .jpeg .gif .tif files are allowed</label>
                                @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="docTitle" class="col-md-12">Documents Title</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="docTitle" id="docTitle" placeholder="This Will Be The Title Of Your Documents" value="">
                                @Html.ValidationMessageFor(model => model.docTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DocFile" class="col-md-12">Document Files</label>
                            <div class="col-md-12">
                                <input type="file" class="form-control" name="DocFile" id="DocFile" value="">
                                <label style="color:mediumorchid; font-size:10px">*Only .doc .docx .pptx .pdf files are allowed</label>
                                @Html.ValidationMessageFor(model => model.DocFile, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn btn-success" style="background-color: palegoldenrod; color:black"><i><img src="https://img.icons8.com/dotty/30/000000/agreement-new.png" /></i>&nbsp; Add Documents</button>
                            </div>
                        </div>
                    </form><br /><br /><br /><br />
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">
                        <h2 style="color:red">Videos</h2>
                        <div style="height: 600px; overflow: auto; ">
                            @if (dataL != null)
                            {
                                foreach (var item in dataL)
                                {
                                    i++;
                                    <h4>@i. @item.videoTitle</h4>
                                    <iframe style="object-fit: cover" width="650" height="365" src="@item.videoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Video Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">
                        <h2 style="color:green">Images</h2>
                        <div style="height: 600px; overflow: auto; ">
                            @if (dataL != null)
                            {
                                foreach (var item in dataL)
                                {
                                    i++;
                                    <h4>@i. @item.imageTitle</h4>
                                    <img style="max-height: 500px; object-fit: cover" src="~/@item.image" width="600" /> <br /><br />

                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Images Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="white-box">
                    <div class="form-horizontal form-material">

                        <h2 style="color: goldenrod">Documents</h2>
                        <p style="color: darkcyan">Click To Open</p>
                        <div style="height: 300px; overflow: auto; ">


                            @if (dataL != null)
                            {
                                foreach (var item in dataL)
                                {
                                    i++;
                                    <b><a style="font-size:20px" href="/Instructor/PdfPreview/?doc=@item.docs">@i. @item.docTitle</a></b><br /><br />

                                }
                                i = 0;
                            }
                            else
                            {
                                <p style="color:peru">No Documents Is Uploaded Yet!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>